
{% if page.layout == "default" %}
	<div class="hero-container" {% for hero in site.hero %} hero{{forloop.index}}="{{hero | absolute_url}}" {% endfor %}>
		<div class="hero-logo">
			{% if site.logo %}
				<img src="{{site.logo}}"/>
			{% else %}
				<h1>{{site.title}}</h1>
			{% endif %}
		</div>

		<div class="hero-desc">
			<p>
			{{ site.Description }}
			</p>
		</div>
	</div>

{% else %}
	<div class="hero-container hero-container-small" {% for hero in site.hero %} hero{{forloop.index}}="{{hero | absolute_url}}" {% endfor %}>
		<h1>
			{{ page.title }}
		</h1>
	</div>

{% endif %}