{% if site.pages.size > 0 %}

<nav>
	<div class="navbar">
		<div class="navbar-logo">
			<a href="{{site.url | relative_url}}">
				{% if site.logo %}
					<img src="{{site.logo}}" class="navbar-image"></img>
				{% else %}
					{{ site.title }}
				{% endif %}
			</a>
		</div>

		<ul class="navbar-list">
			{% for page in site.pages %}
				{% if page.title and page.visible %}
					<li class="navbar-item">
						<a href="{{page.url | relative_url}}">
							{{ page.title }}
						</a>
					</li>
				{% endif %}
			{% endfor %}
		</ul>

		<div class="navbar-mobile">
			<i class="fa fa-bars fa-2x"></i>
		</div>
	</div>
</nav>
<ul class="navbar-mobile-list">
	{% for page in site.pages %}
		{% if page.title and page.visible %}
			<li class="navbar-item">
				<a href="{{page.url | relative_url}}">
					{{ page.title }}
				</a>
			</li>
		{% endif %}
	{% endfor %}
</ul>



{% endif %}