.hero-container {
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	padding: 3rem 3rem;
	padding-top: $nav_height;
	background-image:  linear-gradient(rgba(75,75,75, 0.5),rgba(0, 0, 0, 0.9)), $hero;
	background-size: cover;
	background-position: center center;

	@media screen and (max-width: $screen_medium) {
		padding-left: 1rem;
		padding-right: 1rem;
		display: block;
	}

	@media screen and (min-width: $screen_medium) {
		display: block;
	}

	@media screen and (min-width: $screen_large) {
		padding-top: 10rem;
		padding-bottom: 9rem;
		display: flex;
	}
}

.hero-container-small {
	padding-top: $nav_height * 2;

	@media screen and (max-width: $screen_medium) {
		padding-top: $nav_height * 2;		
		display: flex;
	}

	@media screen and (min-width: $screen_medium) {
		padding-top: $nav_height * 2;
		display: flex;
	}


	@media screen and (min-width: $screen_large) {
		padding-top: $nav_height * 2;
		padding-bottom: 3rem;
		display: flex;
	}

	& h1 {
		color: white;
	}
}

.hero-logo {
	height: 100px;
	margin: 24px;
	filter: invert(100%);

	& img {
		height: 100%;
		margin: auto;
		display: block;
	}

	@media screen and (min-width: $screen_medium) {
		height: 100px;
		margin-bottom: 50px;
	}

	@media screen and (min-width: $screen_large) {
		height: 175px;
	}
}

.hero-desc {
	width: auto;
	padding: 18px;
	border-radius: 5px;
	box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
	font-size: 1.25em;
	background-color: rgba(255,255,255, 0.9);

	@media screen and (max-width: $screen_medium) {
		font-size: 1em;
		margin: 3rem 0;	
		width: auto;
	}

	@media screen and (min-width: $screen_large) {
		width: 33vw;
	}

}